<script>
var map;
  function initMap() {
  passParam(<%= @last_location.latitude %>,<%= @last_location.longitude %>)
  }
</script>


<br />
<h3>New Story</h3>
<br />

<%= form_for [@category, @story] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :picture %><br>
    <%= form.file_field :picture  %>
  </p>

  <p>
    <%= form.text_field :latitude %>
  </p>
  <p>
    <%= form.text_field :longitude %>
  </p>
  <p>
    <div id="map"></div>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgGhXinH64krgo0SkV_SbIEfzQ9h6OuE&callback=initMap"
    async defer></script>
