<script>
var map;
  function initMap() {
    function passParam(latit, lang){
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: latit, lng: lang},
        zoom: 8
      });

      marker = new google.maps.Marker({
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
        position: {lat: latit, lng: lang}
      });

      google.maps.event.addListener(marker, 'dragend', function(m) {
      id_point = this.title;
      console.log("Point: "+id_point);
      console.log(this.getPosition().lat()); // same as below
      console.log(m.latLng.lat());
      })
    }
  passParam(53.1235,18.0084)
  }
</script>

<br />
<h3>New Story</h3>
<br />

<%= form_for [@category, @story] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :picture %><br>
    <%= form.file_field :picture  %>
  </p>
  <p>
    <div id="map"></div>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgGhXinH64krgo0SkV_SbIEfzQ9h6OuE&callback=initMap"
    async defer></script>
