<script>
var map;
  function initMap() {
  passParam(<%= @last_location.latitude %>,<%= @last_location.longitude %>)
  }
</script>

<div class="col-md-2 offset-md-5">
  <h3>New <%= @category.name %> story:</h3>
</div>
<div class="col-md-6 offset-md-3">
  <%= simple_form_for [@category, @story] do |f| %>
      <%= f.input :title %><br>
      <%= f.input :text %>
      <%= f.input :picture  %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <p>
        <div id="map"></div>
      </p>
      <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgGhXinH64krgo0SkV_SbIEfzQ9h6OuE&callback=initMap"
    async defer></script>
