<div class="card border-primary" style="width: 18rem;">
  <div class="card-header">bad story</div>
  <div class="card-body">
    <h5 class="card-title"><%= story.title %>
      by
      <%= User.find(story.user_id).username %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text"><%= story.text %></p>

    <% if story.picture.attached? %>
      <%= image_tag story.picture, :class => "card-img-top" %>
    <% end %>

    <p class="card-text">
      <small class="text-muted">Created:
        <%= story.created_at.strftime("%Y-%m-%d").to_s %></small>

    </p>
    <%= link_to "View comments", category_story_path(story.category_id, story.id), class: "card-link" %>
    <%= link_to "Down", category_story_down_path(story.category_id, story.id), method: :post, class: "card-link" %>
    <%= link_to "Up", category_story_up_path(story.category_id, story.id), method: :post, class: "card-link" %>
  </div>
</div>
