<div class="card-columns">
  <% if Story.where(category_id: 2).count == 0 %>
    <h2>. . . no stories :(</h2>
  <% else %>
    <% Story.where(category_id: 2).reverse.each do |story| %>
      <div class="card border-danger" style="width: 18rem;">
        <div class="card-header">good story</div>
        <div class="card-body">
          <h5 class="card-title"><%= story.title %>
            by
            <%= User.find(story.user_id).username %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Location</h6>
          <p class="card-text"><%= story.text %></p>
          <p class="card-text"><%= story.picture %></p>
          <p class="card-text">
            <small class="text-muted">Created:
              <%= story.created_at.strftime("%Y-%m-%d").to_s %></small>
          </p>
          <%# <%= link_to "View comments", category_story_path(,story.id), class: "card-link" %>
            %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
