<div class="card border-<%= hlp_class %>" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= story.title %>
      by <%= link_to User.find(story.user_id).username, user_path(story.user_id) %> 
      <h6 class="card-subtitle mb-2 text-muted">Location</h6>
      <p class="card-text"><%= story.text %></p>

      <% if story.picture.attached? %>
        <%= image_tag story.picture, :class => "card-img-top" %>
      <% end %>

      <p class="card-text">
        <small class="text-muted">Created:
          <%= story.created_at.strftime("%Y-%m-%d").to_s %></small>
      </p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to "View", category_story_path(story.category_id, story.id), class: "btn btn-outline-primary" %>
        <% if user_signed_in? %>
          <% if Vote.where(user_id: current_user.id, story_id: story.id).empty? %>
            <%= link_to raw("&#8595;"), category_story_down_path(story.category_id, story.id), method: :post, class: "btn btn-secondary"%>
            <%= link_to raw("&#8593;"), category_story_up_path(story.category_id, story.id), method: :post, class: "btn btn-" + hlp_class %>
          <% else %>
            <button type="button" class="btn btn-outline-secondary" disabled>Already voted</button>
          <% end %>
        <% else %>
          <%= link_to "Login to vote", new_user_session_path, class: "btn btn-outline-primary" %>
        <% end %>
      </div>
      <br>
      <br>
    </div>
  </div>
