<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "So bad, so good", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "Share Story", new_story_path(current_user.id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My stories", user_path(current_user.id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Map", root_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav text-right">
        <p class="navbar-text">Logged in as
          <strong><%= current_user.username %></strong>
        </p>
        <li class="nav-item">
          <%= link_to 'Edit profile', edit_user_registration_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "nav-link" %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "Map", root_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav text-right">
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, method: :delete, :class => "nav-link" %>
        </li>
      </ul>
    <% end %>
    </div>
</nav>
