<%if @category != nil
    if @category.name == "bad"
      help_nav = "background: linear-gradient(to right, #b8daff, #f8f9fa);"
      help_bad = "bad_a btn btn-outline-primary" + " " + "active"
      help_good = "good btn btn-outline-danger"
    else
      help_nav = "background: linear-gradient(to right, #f5c6cb, #f8f9fa);"
      help_bad = "bad btn btn-outline-primary"
      help_good = "good_a btn btn-outline-danger" + " " + "active"
    end
  else
    help_nav = "background-color: #f8f9fa"
    help_bad = "bad btn btn-outline-primary"
    help_good = "good btn btn-outline-danger"
  end%>

  <nav class="navbar navbar-expand-lg navbar-light" style="<%= help_nav %>">
    <ul class="nav nav-pills">
      <li class="nav-item" id="logo_switch">
        <%= link_to "So Bad", main_app.category_path("bad"), class: help_bad %>
      </li>
      <li class="nav-item" id="logo_switch">
        <%= link_to "So Good", main_app.category_path("good"), class: help_good %>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My following users</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% if current_user.followers.any? %>
                <% current_user.followers.each do |follower| %>
                  <%= link_to follower.followable.username,
                  main_app.user_path(follower.followable),
                  class: "dropdown-item" %>
                <% end %>
              <% else %>
                <a class="dropdown-item" href="#">You don't follow any user</a>
              <% end %>
            </div>
          </div>
          <% if @category != nil %>
            <li class="nav-item">
              <%= link_to "Share Story", main_app.new_category_story_path(@category.name), class: "nav-link" %>
            </li>
          <% else %>
          <% end %>
          <li class="nav-item">
            <%= link_to "My stories", main_app.user_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Map", main_app.root_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav text-right">
          <li class="nav-item">
            <%= link_to pluralize(Notification.unread_count(current_user), 'Notification'), notifications_path, :class => Notification.unread_count(current_user) > 0 ? 'badge badge-success mr-3' : 'badge badge-danger mr-3' %>
          </li>
          <p class="navbar-text">Logged in as
            <strong><%= current_user.username %></strong>
          </p>
          <li class="nav-item">
            <%= link_to 'Edit profile', main_app.edit_user_registration_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", main_app.destroy_user_session_path, method: :delete, :class => "nav-link" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if @category != nil %>
          <% else %>
          <% end %>
          <li class="nav-item">
            <%= link_to "Map", main_app.root_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav text-right">
          <li class="nav-item">
            <%= link_to 'Login', main_app.new_user_session_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", main_app.new_user_registration_path, :class => "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
